### Data importer

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
df = pd.read_excel('data.xlsx')
df.head(5)

,species,metal,place,number,individual,Pm replaced,height,length,mortality,causes,notes,GPS,solariscope
0,Ap,NE,ut,1,1,NaN,NaN,74.0,dead,NaN,NaN,NaN,NaN
1,Ap,NE,ut,1,2,NaN,NaN,39.0,dead,NaN,NaN,NaN,NaN
2,Ap,NE,ut,1,3,NaN,52.0,52.0,NaN,NaN,NaN,NaN,NaN
3,Ap,NE,ut,1,4,NaN,1.0,20.0,ms dead,NaN,new shoot at side vital,NaN,NaN
4,Ap,NE,ut,1,5,NaN,49.0,49.0,NaN,NaN,NaN,NaN,NaN


### Metadata: `plots`

columns:
- species_id -> lookup
- individual_id -> lookup
- place_id -> lookup
- treatment_id -> lookup
- site_id -> lookup
- number
- pm_replaced
- gps


### `Datasets`

columns:
- plot_id
- data (JSON)
- group_id
- measurement_time
- user_id

#### Different groups have different columns:
- g1 (height / mortality) -> `mortality` -> `group_id = 1`
- g2 (solariscope) -> `SOLno` -> `group_id = 2`
- g3 (MiniPam) -> `PAM_No` -> `group_id = 3`
- g4 (Scholander) -> `pressure` -> `group_id = 4`

I guess data.xlsx exclusively contains group 1 data -> hardcoded for now!

In [3]:
# add the lookups
SPECIES = {
    'Ap': 1,
    'Qp': 2,
    'Pm': 3
}

INDIVIDUAL = {
    'N': 1,
    'E': 2,
    'S': 3,
    'W': 4,
}
for i, j in enumerate(range(5, 25), start=1):
    INDIVIDUAL[str(i)] = j

PLACE = {
    'fs': 1,
    'ut': 2,
    'st': 3,
    'hs': 4,
    'tr': 5
}

TREATMENT = {
    'fc': 1,
    'hs': 2,
    'ph': 3,
    'nh': 4
}

SITE = {
    'Weilheim': 1,
    'Albbruck': 2,
    'Unteralpfen': 3
}

In [4]:
# plots
# raw data does not contain columns for site and treatment -> always id 1 & 3???
site_id = 1
treatment_id = 3
gps = "0101000020E61000000000000000002A400000000000404640" # replace

plots = []
warnings_plots = []

# datasets
datasets = []

user_id = '736d8856-798e-4608-b67b-1c3f9ffa7fd4'  # placeholder
group_id = 1  # hardcoded -> replace!
measurement_time = dt.strptime("2020-01-01 12:00:00", "%Y-%m-%d %H:%M:%S").isoformat()  # replace!

data_columns = ['height', 'length', 'mortality',
                'causes', 'notes', 'solariscope']  # 'diameter': MISSING!

for i, row in df.iterrows():
    try:
        plots.append({
            'species_id': SPECIES[row.species],
            'individual_id': INDIVIDUAL[str(row.individual)],
            'place_id': PLACE[row.place.lower()],
            'treatment_id': treatment_id,
            'site_id': site_id,
            'number': row.number,
            'pm_replaced': True if str(row['Pm replaced']).lower() == 'yes' else False if str(row['Pm replaced']).lower() == 'no' else None,
            #'gps': f'POINT ()' if not np.isnan(row.GPS) else None
            'gps': gps
        })

        #group_id = None
        # if not np.isnan(row.mortality):
        #    group_id = 1
        # elif not np.isnan(row.SOLno):
        #    group_id = 2
        # elif not np.isnan(row.PAM_No):
        #    group_id = 3
        # elif not np.isnan(row.pressure):
        #    group_id = 4
    
        datasets.append({
            'data': row[data_columns].to_json(), # 'diameter': MISSING!
            'group_id': group_id,
            'measurement_time': measurement_time,
            'user_id': user_id
        })
    except Exception as e:
        warnings_plots.append({'idx': i,
                               'row': row,
                               'error': e})

print(plots[:2])
print(datasets[:2])

assert len(plots) == len(datasets)

[{'species_id': 1, 'individual_id': 5, 'place_id': 2, 'treatment_id': 3, 'site_id': 1, 'number': 1, 'pm_replaced': None, 'gps': '0101000020E61000000000000000002A400000000000404640'}, {'species_id': 1, 'individual_id': 6, 'place_id': 2, 'treatment_id': 3, 'site_id': 1, 'number': 1, 'pm_replaced': None, 'gps': '0101000020E61000000000000000002A400000000000404640'}]
[{'data': '{"height":null,"length":74.0,"mortality":"dead","causes":null,"notes":null,"solariscope":null}', 'group_id': 1, 'measurement_time': '2020-01-01T12:00:00', 'user_id': '736d8856-798e-4608-b67b-1c3f9ffa7fd4'}, {'data': '{"height":null,"length":39.0,"mortality":"dead","causes":null,"notes":null,"solariscope":null}', 'group_id': 1, 'measurement_time': '2020-01-01T12:00:00', 'user_id': '736d8856-798e-4608-b67b-1c3f9ffa7fd4'}]

In [5]:
# warnings
set(d['row'].individual for d in warnings_plots)

{'NE', 'NW', 'SE'}

Column `individual` takes values 'NE', 'SE', 'NW': not expected in `INDIVIDUALS` lookup dict!


## Supabase Upload

supabase Python API (public alpha)

In [ ]:
import os
from supabase import create_client, Client

In [6]:
# set environment variables (better not here, but this is the only way I got it working for now)
os.environ['SUPABASE_URL'] = "https://scgobacrsgcstxlcxyqq.supabase.co"
os.environ['SUPABASE_KEY'] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjZ29iYWNyc2djc3R4bGN4eXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjM0OTc3ODksImV4cCI6MTk3OTA3Mzc4OX0.VzkQtHXBwyrNPAo8OUNQeAbO7pQpzxgaW04XQd4IPyY"

In [7]:
# establish database connection
url: str = os.environ.get("SUPABASE_URL")
key: str = os.environ.get("SUPABASE_KEY")
supabase: Client = create_client(url, key)

In [8]:
# data insertion
for plot, dataset in zip(plots, datasets):
    # add plot
    plot_upload = supabase.table("plots").insert(plot).execute()

    # get plot id
    plot_id = plot_upload.data[0]['id']

    # add plot id to dataset
    dataset['plot_id'] = plot_id

    # add dataset
    supabase.table("datasets").insert(dataset).execute()