### Data importer

In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('data.xlsx')
df.head()

,species,metal,place,number,individual,Pm replaced,height,length,mortality,causes,notes,GPS,solariscope,Unnamed: 13
0,Ap,NE,ut,1,1,NaN,NaN,74.0,dead,NaN,NaN,NaN,NaN,NaN
1,Ap,NE,ut,1,2,NaN,NaN,39.0,dead,NaN,NaN,NaN,NaN,NaN
2,Ap,NE,ut,1,3,NaN,52.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Ap,NE,ut,1,4,NaN,1.0,20.0,ms dead,NaN,new shoot at side vital,NaN,NaN,NaN
4,Ap,NE,ut,1,5,NaN,49.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# add the lookups
PLACE = {
    'fs': 1,
    'ut': 2,
    'st': 3,
    'hs': 4,
    'tr': 5
}

In [11]:
plots = []
datasets = []

for i, row in df.iterrows():
    plots.append({
        'site': 1,
        'treatment': 3,
        'number': row.number,
        'individual': row.individual,
        'place': PLACE[row.place.lower()],
        'pm_replaced': str(row['Pm replaced']).lower() == 'yes',
        'gps': f'POINT ()' if not np.isnan(row.GPS) else None 
    })

plots[:3]

[{'site': 1,
  'treatment': 3,
  'number': 1,
  'individual': 1,
  'place': 2,
  'pm_replaced': False},
 {'site': 1,
  'treatment': 3,
  'number': 1,
  'individual': 2,
  'place': 2,
  'pm_replaced': False},
 {'site': 1,
  'treatment': 3,
  'number': 1,
  'individual': 3,
  'place': 2,
  'pm_replaced': False}]